* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RedHat";
  src: url("./fonts/RedHatText-VariableFont_wght.ttf");
  }

body {
  margin-top: 50px;
  font-family: RedHat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 50;
}
/* header */

.header {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 50;
  font-family: Futura;
  overflow: hidden;
  
  /* background: transparent; */
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  /* background: transparent; */
}
 /* Border Right is white bar between site links*/
.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: #000;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

#logo { /* Logo */
  float: left;
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
  z-index: 51;
  top:0;
  left:0;
  justify-items: center;
  text-align: center;
  height: 90%;
  /* padding: 10px; */
}



/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  /* font-size: 1.5em; */
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .header .logo span{
    display:none;
  }

}

/* Toggle Night/Day */

.container {
  height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.switch {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  height: 3rem;
}

.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.switch label {
  cursor: pointer;
}

.background {
  z-index: 1;
  position: absolute;
  width: 6.5rem;
  height: 3rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #202020;
  background: linear-gradient(to right, #484848 0%,#202020 100%);
  transition: all 0.3s;
}

.dark {
  background-color: black;
  color: whitesmoke;
  transition: 0.75s all ease;
}

.light {
  background-color: whitesmoke;
  color: black;
  transition: 0.75s all ease;
}

.imgSwitch {
  width: 100%;
}

.sun-moon {
  z-index: 5;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  background: #FFFDF2;
  border-radius: 50%;
  transition: all 0.5s ease;
  
  /* Default to Moon */
  border: 0.25rem solid #797a70;
}

/* Circle When Switched to Day mode */
.switch input:checked ~ .sun-moon {
  left: calc(100% - 4rem);
  background: #F5EC59;
  border-color: #E7C65C;
}


/* Surrounding Border of Switch Toggle */
.switch input:checked ~ .background {
  border: 0.25rem solid #78C1D5;
  background: linear-gradient(to right, #78C1D5 0%, #ffffff 100%);
}

#wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  padding: 2vh;
  border-radius: 20px;
  /* text-align: center; */
  height: 70%;
  background-color: #7289da;
}

#voiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#messageContainer {
  margin-top: 5vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  width: 60vw;
  display: inline-flex;
  overflow-wrap: break-word;
  flex-direction: column;
  background-color: #797a70;
  border-radius: 20px;
  height: 100%;
}

#searchContainer {
  width: 60vw;
  display: inline-flex;
  overflow-wrap: break-word;
  flex-direction: column;
  background-color: #9ead18;
  border-radius: 20px;
  height: 100%;
  border-width: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mic-checkbox {
  display: none;
}

.mic-checkbox:checked + .mic-button {
  transform: rotateY(180deg);
}

.mic-checkbox:checked + .mic-button span{
 /* display: none;*/
}

.button-container {
  perspective: 500px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
}

.mic-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  transition: transform 0.4s;
  border: 2px solid #000000;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
}

.button-message, .mic {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.button-message {
  position: absolute;
  width: 50px;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  z-index: 2;
  transform: rotateY(0deg);
  pointer-events: none;
  left: 23px;
  top: 20px;
}

.mic-button-loader {
  position: absolute;
  height: 102px;
  width: 100px;
  background-color: transparent;
  transform: rotateY(180deg);
  top: -31px;
  left: -50px;
}

.mic-checkbox:checked + .mic-button > .mic > .mic-button-loader {
  border-top: 3px solid #AA1111;
  border-radius: 100%;
  animation: borderLoader 1.3s 0.2s ease-in-out infinite; 
}

.mic {
  position: relative;
  top: -11px;
  border: 10px solid #fff;
  height: 40px;
  width: 0;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.mic:after, .mic:before, .mic-base {
  position: absolute;
}

.mic:after {
  content: "";
  top: 7px;
  left: -17px;
  height: 26px;
  width: 26px;
  background-color: transparent;
  border: 4px solid #fff;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border-top: 0;
  
}

.mic:before {
  content: "";
  top: 33px;
  left: -2px;
  border-bottom: 18px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.mic-base {
  top: 46px;
  left: -10px;
  border-bottom: 5px solid #fff;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}

@keyframes borderLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.footer {
  padding: 20px 0 0 0;
  /* background-image: url('./assets/img/footer-bg.png'); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --chatColor: #e3e8e8;
  --paramBGColor: #c4cccc;
  --panelColor: #a8a7a7;
  --paramColor: #FF576D;
  --userMessageColor: #7b7cb8;
  --botMessageColor: #ba72b0;
  --messageTextColor: #000000;
}

/* html, body {
position: relative;
width: 100%;
  height: 100%;
margin: 0;
overflow: hidden;
} */

input {
  padding: 1ch;
  font-size: 1rem;
}

/* main {
  width: 100%;
  height: 100%;
} */

.mainWindow {
  display: inline-block; 
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* gap: 0px; */
  /* height: 60vh; */
  margin-left: 20%;
  margin-right: 20%;
}

.facePanel {
  position: relative;
  /* background-color: var(--paramBGColor);  */
  /* grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 7; */
  width: 60vw;
  height: 30vh;




  display: flex;
  align-items: center;
  justify-content: center;
}

/* .leftPanel {
  position: relative;
  background-color: var(--panelColor); 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 2;
} */

/* .rightPanel {
  position: relative;
  background-color: var(--panelColor);  
  grid-row-start: 1;
  grid-column-start: 7;
  grid-row-end: 6;
  grid-column-end: 8;
} */

.textPanel {
  position: relative;
  background-color: var(--chatColor);  
  border-radius: 5px;
  /* grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 6;
  grid-column-end: 7; */
  /* display: flex; */
  /* flex-direction:  */
  /* margin-left: 20%;
  margin-right: 20%; */
}

.messages {
  position: relative;
  max-height: 30vh;
  overflow-y: scroll;
}

.message {
  padding: 1ch;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  max-width: 90%;
  margin: 1ch;
  word-wrap: break-word;
  color: var(--messageTextColor);
}

.userMessage {
  margin-left: auto;
  background-color: var(--userMessageColor);
}

.botMessage {
  background-color: var(--botMessageColor);
  align-items: left;
}


.userInput {
  box-sizing: border-box;
  position: fixed;
  width: 70%;
  left: 15%;
  height: 3rem;
  background-color: gray;
  border: 2px solid black;
  bottom: 1%;
  
  display: flex;
  align-items: center;
}

.enterButton {    
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  background-color: aquamarine;
  border: 2px solid black;
  cursor: pointer;
}

.enterButton:hover, .enterButton:focus, .enterButton:focus-visible {    
  background-color: springgreen;
}

.inputText {   
  flex-grow: 1; 
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  color: var(--messageTextColor);
  background-color: var(--paramBGColor);
  border: 2px solid black;
}

.face {
  position: relative;
  --name: 150px;
  width: calc(4 * var(--name));
  height: calc(2 * var(--name));
  /* max-width: 25rem;
  max-height: 25rem; */
  border-radius: 20px;
  background-color: var(--paramColor);
}

.mouth {
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 80%;
  height: 40%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: grayscale(100%) invert(0%);
}

.eye {
  position: absolute;
  border-radius: 100%;
  top: 20%;
  width: 4rem;
  height: 4rem;
  background-color: #000000;
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: contain;
}

.leftEye {
  left: 15%;
  box-shadow: 10px 0px 5px inset white;
}

.rightEye {
  right: 15%;
  box-shadow: 10px 0px 5px inset white;
}

.smile {
  opacity: 1;
  bottom: 10%;
  width: 100%;
  height: 130%;
  position: absolute;
}

.mouthWave {
  opacity: 0;
  width: 100%;
  position: absolute;
  filter: grayscale(100%) invert(0%);
}

.mouthWave:nth-child(2) {
  height: 100%;
  animation: scaleY 1s ease-in-out infinite;
}
.mouthWave:nth-child(3) {
  height: 90%;
  animation: scaleY 0.95s ease-in-out infinite;
}
.mouthWave:nth-child(4) {
  height: 80%;
  animation: scaleY 0.90s ease-in-out infinite;
}
.mouthWave:nth-child(5) {
  height: 70%;
  animation: scaleY 0.85s ease-in-out infinite;
}

@keyframes scaleY {
  from, to {
      transform: scaleY(1);
  }
  50% {
      transform: scaleY(-1);
  }
}